@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root{
    --pink:#ff046f;
    --violet:#c63bfa;
    --gold: rgb(116, 100, 10);
    --blue: rgb(25, 25, 171);
}
*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
}

*::selection{
    background: var(--pink);
    color: #FFF;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading{
    font-size: 4rem;
    color: var(--blue);
    text-align: center;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

.title{
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: #aaa;


}

body{
    
    height: 300px;
}

header{
    width: 96%;
    background: #FFF;
    position: fixed;
    top: 2rem; left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transform: 2s;
}

.header-active{
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);

}

header img{
    width: 200px;
}
header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
margin: 0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: var(--pink);
    transition: .2s;
    }

header .navbar ul li.active,
        
header .navbar ul li a:hover{
    color: var(--violet);
    }
header .fa-bars{
    font-size: 3rem;
    color: var(--pink);
    cursor: pointer;
    display: none;
    transition: 2s;
}

.home{
    min-height: 100vh;
    background:   url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;

}

.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;
}

.home .content h1{
    font-size: 5rem;
    color: var(--blue);
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;

}

.home .content p{
    font-size: 2rem;
    color: #333;
    padding: 1rem 25rem;
}

.home .content button{
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: var(--pink);
    color: #FFF;
    font-size: 2rem;
    cursor: pointer;
    transition: 2s;
    border: none;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
}

.home .content button:hover{
    letter-spacing: .2rem;
}

.home .box-container{
    display: flex;
    align-items: enter;
    justify-content: center;
    flex-wrap: wrap;
}

.home .box-container .box{
    height: 25rem;
    width: 25rem;
    background: #FFF;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.home .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #FFF;
    background: var(--pink);
    font-size: 3rem;
    transition: .2s;
    margin: 2rem 0;

}

.home .box-container .box h3{
    font-size: 2rem;
    color: var(--blue);
    transition: .2rem;

}

.home .box-container .box p{
    font-size: 1.3rem;
    padding: .7rem 3rem;
    color: #333;

}

.home .box-container .box:hover i{
    background: var(--blue);
}

.home .box-container .box:hover h3{
    color: var(--pink);
}

.home::before{
    content: '';
    position: absolute;
    bottom: -25rem; left:50%;
    transform: translatex(-50%);
    border-top: 70vh solid #FFF;
    width: 120%;
    border-radius: 50%;
    z-index: -1;
    
}

.about .row{
    display: flex;
    justify-content: center;
    
}

.about .row .image img{
    height: 70vh;
    width: 50vw;

}

.about .row .content{
    padding-left: 5rem;
    margin: 5rem 0;

}

.about .row .content h3{
font-size: 3rem;
color: var(--blue);
}

.about .row .content p{
    font-size: 1.6rem;
    color: #999;
    padding: 1rem 0;
    }

    .about .row .content button{
        height: 3.5rem;
        width: 17rem;
        background: var(--violet);
        color: #FFF;
        border: none;
        border-radius: 5rem;
        box-shadow: 0.3rem 1rem rgba(0, 0, 0, .3);
        cursor: pointer;
        font-size: 2rem;
        transition: .2s;
    }

    .about .row .content button:hover{
        letter-spacing: .2rem;
        opacity: .8;

    }

    .services{
        background: #f9f9f9;
    }

    .services .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 2rem 0;
    }

    .services .card-container .card{
        padding: 2rem;
        margin: 2rem;
        background: #fff;
        text-align: center;
        width: 38em;
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    }

    .services .card-container .card img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }

    .services .card-container .card h3{
        color: var(--blue);
        font-size: 2rem;
        padding: .5rem 0;
    }

    .services .card-container .card p{
        color: #666;
        font-size: 1.5rem;
    }

    .services .card-container .card .icons a{
        font-size: 1.9rem;
        padding: 1.5rem .5rem;
        color: var(--pink);
    }

    .services .card-container .card .icons a:hover{
        color: var(--violet);
        
    }

    .partners .box-container{
        width: 94%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 4rem;
        margin: 0 auto;
    }

    .partners .box-container .box{
        height: 25rem;
        width: 45rem;
        margin: 3.5rem 2rem;
        text-align: center;
        box-shadow: .3rem .3rem 0 .1rem rgba(0, 0, 0, .5);
        
    }


    .partners .box-container .box img{
        width: 100%;
        
    }

    .contact{
        background: #333;
    }

    .contact .row{
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5rem;
        
    }

    .contact .row .image{
        width: 20%;
       
      
    }

    .contact .row .image img{
        width: 30vw;
        height: 70vh;
    }

    .contact .row .form-container{
        width: 65%;
        
        
    }

    .contact .row .form-container input, textarea{
     width: 80%;   
     height: 4rem;
     background: #fff;
     border: none;
     border-radius: 5%;
     padding-left: 0 1rem;
     margin: 1rem 0;
     color: var(--pink);
     font-size: 1.7rem;
     transition: .2s linear;
    }

    .contact .row .form-container input:focus textarea:focus{
        border: .2rem solid var(--pink);
    }

    .contact .row .form-container textarea{
        height: 20rem;
        border-radius: 1rem;
        padding: 1rem;
        resize: none;
    }

    .contact .row .form-container input[type="submit"] {
        width: 17rem;
        background: var(--pink);
        color: #fff;
        cursor: pointer;
        font-size: 2rem;
        transition: .2s;

    }

    .contact .row .form-container input[type="submit"]:hover {
        background: none;
        color: var(--pink);
        border: 2rem solid var(--pink);
        transition: .5s linear;
    }

    .contact .heading{
        color: #999;
    }
    
    .footer{
        padding-top: 4.5rem;
        background: #e1cbcb;
        align-items: center;
        padding-bottom: 1.5rem;


    } 
    .footer .container{
        width: 80%;
  
    }

    .footer .container h3{
        font-size: 1.5rem;
        margin-bottom: .2rem;
    }

    .footer .container p{
        font-size: 1.5rem;
    }

    .footer .container .icons a{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.2rem;
        margin: 0 .1rem;
        border: .2rem solid var(--pink);
        border-radius: 50%;
        text-align: center;
        color: var(--violet);
        font-size: 2rem;
        transition: .2s linear;
    }

    .footer .credit{
        text-align: center;
        font-size: 1.3rem;
    }

    .footer .container .icons a:hover{
        color: #fff;
        background: var(--violet);
    }

    
    

    

    

         
    

    

header .fa-times{
    transform: rotate(180dg);
    color: var(--violet);
    
}


/* media queries*/

@media (max-weith: 768px){
    html{
        font-size: 55%;
    }

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background: #FFF;
        border-radius: 1rem;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li{
        margin:  1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top: 5.5rem;
        opacity: 1;
    }
    .home .content p{
        padding: 1.5rem 2rem;
    }

    .home::before{
        display: none;
    }
}
